# Node.js / NPM
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# Environment variables and secrets


# Dependencies
/.pnp
.pnp.js

# Jest coverage
/coverage/

# Logs
log.txt
logs/

# Compiled TypeScript files
*.tsbuildinfo

# Mac OS files
.DS_Store

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
*.komodotools
*.kate-project
*.kate-workspace
*.ghc
*.idea_workspace

# Backup files
*~

# Cached data
.cache/
.cache-loader/

# Miscellaneous
*.log
*.tmp

# React build artifacts
npm-debug.log*
yarn-debug.log*
yarn-error.log*