.color-primary-red {
  color: $color-primary-red;
}
.color-primary-blue {
  color: $color-primary-blue;
}
.color-primary-black {
  color: $color-primary-black;
}

.color-state-error {
  color: $color-state-error;
}
.color-state-warning {
  color: $color-state-warning;
}
.color-state-success {
  color: $color-state-success;
}

.color-secondary-black {
  color: $color-secondary-black;
}
.color-secondary-grey {
  color: $color-secondary-grey;
}
.color-secondary-messy {
  color: $color-secondary-messy-blue;
}
.color-secondary-light {
  color: $color-secondary-light-blue;
}

.color-neutral-dark {
  color: $color-neutral-dark-grey;
}
.color-neutral-medium {
  color: $color-neutral-medium-grey;
}
.color-neutral-regular {
  color: $color-neutral-regular-grey;
}
.color-neutral-light {
  color: $color-neutral-light-grey;
}
.color-neutral-white {
  color: $color-neutral-white;
}
